@import url("https://fonts.googleapis.com/css?family=Montserrat:800");
@import url("https://fonts.googleapis.com/css?family=PT+Mono");
@import url("https://fonts.googleapis.com/css?family=PT+Sans");


@import "./styles/normalize.min.scss";

$font_title: 'Montserrat', sans-serif;
$font_content_1: 'PT Mono', monospace;
$font_content_2: 'PT Sans', sans-serif;

$quantity_slides: (4);

@import "./styles/button.scss";
@import "./styles/input.scss";
@import "./styles/header.scss";
@import "./styles/expectations.scss";
@import "./styles/portfolio.scss";
@import "./styles/footer.scss";

body {
	background: #eff1f2;
	 /*во время работы, flex использует ширину браузера, а элементы ширину viewport, 
	 поэтому во время проверки адаптивной верстки путем изменения самого окна браузеру, 
	 наблюдался баг, из-за лишних 17 пикселей полосы прокрутки*/
	width: calc(100% + (100vw - 100%)); 
}