body {
	background: #eff1f2;
}


.button {
	height: 52px;
	color: #ffffff;
	border-radius: 4px;
	background: #0059D9;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	line-height: 24px;
	border: none;
	outline: none;
	transition: background 1s, opacity 1s;
}

.button:hover {
	background: #000000;
}

.button:active {
	opacity: 0.7;
}


.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 124px 0 124px 0;
}

.header__img {
	border-radius: 50%;
	width: 340px;
	margin-bottom: 36px;
}

.header__name {
	font-size: 40px;
	font-family: 'Montserrat', sans-serif;
	line-height: 44px;
	margin: 0 0 8px 0;
}

.header__title {
	text-align: center;
	opacity: 0.7;
	margin: 0 0 20px 0;
	font-family: 'PT Mono', monospace;
	font-size: 14px;
	line-height: 20px;
}

.header__contact {
	width: 280px;
/*	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
	background: #0059D9;
	border-radius: 4px;
	color: white;
	height: 52px;
	border: none;
	outline: none;
	transition: background 1s;*/	
}


@media screen and (max-width: 600px) {
	.header {
		margin: 165px 40px 165px 40px;
	}
	.header__img {
		width: 250px;
		margin-bottom: 32px;
	}
	.header__name {
		font-size: 32px;
		line-height: 36px;
	}
	.header__title {
		width: 280px;
	}

}

@media screen and (max-width: 320px) {
	.header {
		margin: 88px 20px 87px 20px;
	}
	.header__img {
		width: 205px;
		margin-bottom: 32px;
	}
	.header__name {
		font-size: 32px;
		line-height: 36px;
	}
}


/*accordion*/

.expectations {
	background: #FFFFFFFF;
	padding:100px 40px 100px 40px;
}

.accordion {
	max-width: 700px;
	margin: auto;
	list-style: none;
}

.accordion-title {
	font-family: 'Montserrat', sans-serif;
	font-size: 32px;
	margin-bottom: 16px;
	line-height: 36px;
}

.accordion-item {
	border-top: 1px solid #D2D9E2;
	position: relative;
	font-family: 'PT Mono', monospace;
	font-size: 14px;
	line-height: 20px;
}

.item-title {
	font-family: 'Montserrat', sans-serif;
	color: #0059D9;
	font-size: 18px;
	transition: all 0.5s;
}

.item-title:hover {
	color: #000000;
}



.expectations label {
	display: flex;
	align-items: center;
	cursor: pointer;
	height: 52px;
}

.expectations label:after, .expectations label:before {
	content: "";
	position: absolute;
	display: block;
	width: 2px;
	height: 16px;
	right: 8px;
	background-color: #0059D9;
	transition: all 1s;
}



.expectations label:after {
	transform: rotate(90deg);
}


.expectations input {
	display: none;

}

.item-content {
	max-width: 520px;
	max-height: 0;
	line-height: 20px;
	overflow: hidden;
	transition: all linear 0.9s;
}

.expectations input:checked ~ .item-content {
	max-height: 80px;
	padding-bottom: 18px;
	transition: all linear 1s;
}


.expectations label:hover:after,
.expectations input:checked ~ label:after{
	transform: rotate(45deg);
	background-color: #000000;
}
.expectations label:hover:before,
.expectations input:checked ~ label:before {
	transform: rotate(-45deg);	
	background-color: #000000;
}


.expectations input:checked ~ .block-title {
	color: #000000;
}


@media screen and (max-width: 1000px) {
	.expectations {
	}	

}

@media screen and (max-width: 600px) {
	.expectations {
		max-width: 520px;
		padding: 52px 40px;
	}	
	.item-content {
		max-width: 385px;
	}
}


@media screen and (max-width: 320px) {
	.expectations {
		max-width: 280px;
		padding: 52px 20px;
	}	
}





/*accordion*/


/*portfolio*/

.portfolio {
	background: #25282a;
	color: #FFFFFFFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px 40px;
}

.portfolio-title {
	font-family: 'Montserrat', sans-serif;
	font-size: 32px;
	line-height: 36px;
}

.portfolio-text {
	opacity: 0.7;
	text-align: center;
	font-weight: normal;
	margin-top: 8px;
	font-family: 'PT Mono', monospace;
	font-size: 14px;
	line-height: 20px;
}

.portfolio input {
	display: none;
}

.portfolio-project {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 80px;
	max-width: 700px;
}

.portfolio-project_title {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	line-height: 24px;
}

.portfolio-project_link {
	font-size: 14px;
	
	line-height: 20px;
	margin-bottom: 20px;
}


.portfolio-project_link a {
	text-decoration: none;
	color: #71ABFF;
	transition: color 0.5s, opacity 0.5s;
	font-family: 'PT Mono', monospace;
	font-size: 14px;
	line-height: 20px;
}

.portfolio-project_link a:hover {
	color: #ffffff;
}


.portfolio-project_link a:active {
	color: #71ABFF;
	opacity: 0.7;
}

.portfolio-project_carousel {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
	width: 100%;
}

.project-carrousel_container {
	width: 100%;
	overflow: hidden;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.08), 0 7px 22px 0 rgba(0,0,0,0.12);
	border-radius: 8px;
}

.project-carrousel_items {
	width: 400%;
	list-style: none;
	font-size: 0;
	transition: transform 1s;
}

.project-carrousel_item {
	float: left;
	width: 25%;

}

.project-carrousel_item img{
	width: 100%;

}

.project-carrousel_annotation {
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	line-height: 20px;
	flex-basis: 520px;
	flex-grow: 1;
	padding-top: 20px;
}

.project-carrousel_navigation {
	display: flex;
	flex-grow: 1;
	flex-basis: 180px;
	justify-content: center;
	padding-top: 26px;
}

.project-carrousel_navigation label {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 16px;
    height: 16px;
}

.carrousel-navigation_circle{
	float: right;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: #71ABFF;
	border: 1px solid #71ABFF;
	/*margin: 4px;*/
	transition: background 0.8s, border 0.8s;
}



label:hover .carrousel-navigation_circle {
	background: white;
	border: 1px solid white;
}

#slide-1-1:checked ~ .project-carrousel_navigation label[for=slide-1-1] .carrousel-navigation_circle,
#slide-1-2:checked ~ .project-carrousel_navigation label[for=slide-1-2] .carrousel-navigation_circle,
#slide-1-3:checked ~ .project-carrousel_navigation label[for=slide-1-3] .carrousel-navigation_circle,
#slide-1-4:checked ~ .project-carrousel_navigation label[for=slide-1-4] .carrousel-navigation_circle {
	background: transparent;
}

#slide-1-1:checked ~ .project-carrousel_container .project-carrousel_items {
	transform: translateX(0%);
}
#slide-1-2:checked ~ .project-carrousel_container .project-carrousel_items {
	transform: translateX(-25%);
}
#slide-1-3:checked ~ .project-carrousel_container .project-carrousel_items {
	transform: translateX(-50%);
}
#slide-1-4:checked ~ .project-carrousel_container .project-carrousel_items {
	transform: translateX(-75%);
}


#slide-2-1:checked ~ .project-carrousel_navigation label[for=slide-2-1],
#slide-2-2:checked ~ .project-carrousel_navigation label[for=slide-2-2],
#slide-2-3:checked ~ .project-carrousel_navigation label[for=slide-2-3],
#slide-2-4:checked ~ .project-carrousel_navigation label[for=slide-2-4] {
	background: transparent;
}

#slide-2-1:checked ~ .project-carrousel_container .project-carrousel_items {
	transform: translateX(0%);
}
#slide-2-2:checked ~ .project-carrousel_container .project-carrousel_items {
	transform: translateX(-25%);
}
#slide-2-3:checked ~ .project-carrousel_container .project-carrousel_items {
	transform: translateX(-50%);
}
#slide-2-4:checked ~ .project-carrousel_container .project-carrousel_items {
	transform: translateX(-75%);
}


@media screen and (min-width: 780px) {

	.project-carrousel_navigation {
		/*justify-content: flex-end;*/
	}
	.project-carrousel_navigation label:last-of-type {
		display: flex;
    	justify-content: flex-end;
    	width: 12px;
	}
}


@media screen and (max-width: 600px) {
	.portfolio{
		padding:52px 40px;
	}
	.portfolio-project {
		padding-top: 60px;
	}
	.portfolio-project_link {
		margin-bottom: 16px;
	}
	.project-carrousel_navigation {
		padding-top: 12px;
	}
	.project-carrousel_annotation {
		padding-top: 14px;
	}

}


@media screen and (max-width: 320px) {
	.portfolio{
		padding:52px 20px;
	}

}




/*portfolio*/




/*footer*/

footer {

	padding: 100px 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
}


.footer { 

	max-width: 700px;
	display: flex;
	flex-direction: column;
	align-items: center;


}
.footer-title {
	font-family: 'Montserrat', sans-serif;
	font-size: 32px;
	color: #000000;
	line-height: 36px;
	text-align: center;
}

.footer-text {
	font-family: 'PT Mono', monospace;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	margin-bottom: 40px;
	color: #000000;
	margin-top: 21px;
}

.footer-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;

}


.footer-social {
	display: flex;
	list-style: none;
	flex-direction: row;
	width: 176px;
	justify-content: space-between;
	margin-top: 16px;
}



.footer-social a {
	display: block;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	transition: background-color 0.5s;
}

.footer-social_fb {
	background-color: #395a99;
	background-image: url(./images/fb.svg);
}

.footer-social_vk {
	background-color: #3d6898;
	background-image: url(./images/vk.svg);
}

.footer-social_telegram {
	background-color: #2ca5e0;
	background-image: url(./images/telegram.svg);
}

.footer-social_fb:hover {
	background-color: #2d487a;

}

.footer-social_vk:hover {
	background-color: #2a5885;
}

.footer-social_telegram:hover {
	background-color: #2384b3;
}

.footer-form input::placeholder {
  opacity: 0.3; 
}

.footer-form textarea::placeholder {
  opacity: 0.3; 
}

.footer-form_name, .footer-form_email {
	padding: 6px 12px 8px 12px;
	width: 100%;
	height: 20px;
	border: 1px solid rgba(31,64,111,0.20);
	border-radius: 4px;
	transition: border-color 0.5s;
}

.footer-form_textarea {
	resize: none;
	width: 100%;
	height: 124px;
	border: 1px solid rgba(31,64,111,0.20);
	border-radius: 4px;
	width: 100%;
	margin-top: 20px;
	padding: 6px 12px 3px 12px;
	transition: border-color 0.5s;
}

.footer-form_name:focus, .footer-form_email:focus, .footer-form_textarea:focus,
.footer-form_name:active, .footer-form_email:active, .footer-form_textarea:active {
	border-color: #0059d9;
}

.footer-form input[type=file]{
	display: none;
}


.button__form {
	width: 100%;
	margin-top: 20px;
}


.button__form_file {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 34px;
	background: unset;
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	color: #0059D9;
	line-height: 20px;
	border: 1px solid rgba(31,64,111,0.20);
	border-radius: 4px;
	transition: color 0.5s;
}

.button__form_file:hover {
	background: unset;
	color: #000000;
}



@media screen and (min-width: 815px) {
	.footer-form_name, .footer-form_email { 
		width: 314px;
	}
}

@media screen and (max-width: 815px) {
	.footer-form_email, .footer-form_file, .footer-form_send, .footer-form_textarea {
			margin-top: 16px;
		}
	}


@media screen and (max-width: 600px) {
	footer {
		padding: 52px 40px;
	}
	.footer-text {
		margin-bottom: 20px;
	}


@media screen and (max-width: 320px) {
	footer{
		padding:52px 20px;
	}

}
/*footer*/








